@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.color_{
  background-color: #fefefe;
}
.review-main {
  display:block;
  opacity: 0; 
  animation: fadeIn 1s ease-in forwards;
  background-color:#fbfbfb;
  padding-bottom:20px
}

.client-head{
   display: flex;
   justify-content: center;
   align-items: center;
    color: #333;
    font-size: 1.7rem;
    padding-top: 100px;
    margin-bottom: 50px;
  }

  .client-head h2{
    font-size: 3.5rem;
    font-weight: 700;
  }

  .review-slider-container {
    width: 90%; 
    margin: 50px auto; 
    overflow-x: hidden;
    position: relative;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
    margin: 0 auto; 
    max-width: 100%; 
  }
  
  .slide {
    flex: 0 0 auto;
    width: calc(100% / 3);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .active {
    transform: translateX(0%);
  }
  
  .box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.2);
  }
  
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .profile-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-details {
    text-align: left;
    font-family:Outfit;
    font-size:1rem;
    font-weight: 700; 
  }
  .profile-details h3{
    font-size:1.6rem;
    font-weight: 700; 
  }
  
  .stars {
    color: #FFD700; 
  }
  
  .star {
    font-size: 20px;
  }
  
  .review-text {
    font-size: 16px;
    line-height: 1.5;
    font-family:poppins;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  
