@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  background-image: linear-gradient(to bottom right, #ffb787, #c21d03);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  opacity: 1; 
  transition: top 0.5s ease;
}

.logo{
    width: 20vw;
    max-width: 400px;
    padding: 10px 10px;
    transition: transform 0.3s ease, opacity 0.5s ease-in-out;
    cursor: pointer;
    opacity: 0;
}

.logo:hover {
  transform: scale(1.1); 
}

.logo.visible {
  opacity: 1; 
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}
.navbar li{
    position: relative;
    margin-right: 20px;
}
.navbar li a {
    font-weight: 500;
    font-family: poppins;
    font-size: 0.9rem;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #232121;
}
.navbar li a:hover{
  color: #fefefe;
  transition: 0.6s;
}


.arrow {
  position: absolute; 
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
  transition: transform 0.3s ease;
  transform-origin: center center; 
}

.arrow.down {
  transform: translateY(-50%) rotate(180deg);
}

/* Adjust the positioning of the dropdown arrow when rotated */
.dropdown:hover .arrow {
  right: -9px; /* Adjust the right position to accommodate the rotation */
}

.dropdown {
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    width: 130%;
    background-color: #fbfbfb; 
    border-radius: 5px; 
    padding: 5px 0; 
    animation: fadeInDown 1s ease forwards; 
    z-index: 1;
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      
    }
    to {
      opacity: 1;
      
    }
  }

  .navbar li{
    position: relative;
  }

.navbar li:hover > .dropdown{
    display: block;
}

.dropdown li{
    display: block;
}

.dropdown li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #232121;
    transition: background-color 0.3s ease;
}
.dropdown li a:hover{
    border-left: 4px solid #464646;
}

.quote {
  font-size: 15px;
  font-weight: 500;
  padding: 12px 10px;
  /* background-color: #232121; */
  background: linear-gradient(287deg, #b923e1 0.36%, #da7c25 102.06%);
  color: #fefefe;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
  font-family: outfit;
  transition: 0.5s;
}
.navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-image: linear-gradient(to bottom right, #ffb787, #c21d03);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
    animation: fadeInDown 0.5s ease forwards;
}


.quote::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.5s;
  z-index: -1;
  
}

.quote:hover{
  transform: scale(1.05);
  
}