.container {
  position: relative;
  width: 100%;
}

.background {
  position: fixed;
  background-repeat:no-repeat;
  top: 0;
  right: 0;
  left: 0%;
  width: 100%;
  z-index: -1;
}

.background img {
  width: 100%;
  height: auto;
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}